.footer{
  font-size: 12px;
  height: 40px;
  display:flex;
  justify-content: center;
  align-items: center;
  color:black;
  background-color: white;
  /* z-index: 10; */
}

.small-font{
  font-size: 12px;
}