.footer{
  font-size: 12px;
  height: 40px;
  /* width: 100% */
  display:flex;
  justify-content: center;
  align-items: center;
  color:black;
  background-color: white;
  /* z-index: 10; */
}

.boxoffice{
  display:flex;
  margin: 1rem;
  justify-content: center;
}

.community{
  display:flex;
  margin: 1rem;
  justify-content: center;
}

.list-group2{
  margin: 1rem;
}